main{
  min-height:100vh;
  background-color: #F4F7FA;
}
footer{
  background-color: #000000;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.page{
  padding: 32px;
}

.subHeader{
  position: fixed;
  left: 0;
  right: 0;
  top:83px;
  background-color: rgb(32, 32, 32) !important ;
  display: flex;
}

.uppercase{
  text-transform: uppercase;
}